{% trans_default_domain 'FOSUserBundle' %}

<div class="Main profile">
    {% if is_granted('ROLE_ADMIN') %}

    {% elseif is_granted('ROLE_ARTIST') %}
    {{form_start(form)}}
         {{form_widget(form)}}
    {{form_end(form)}}
    {% endif %}
</div>