{% extends "homePageBundle::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block nav %}
    <div id="smallHeader" >
        {% include "homePageBundle:Default:nav.html.twig" %}
    </div>
{% endblock %}
{% block javascripts %}
     <script src="{{asset( "js/imgProfileEdit.js" )}}"></script>
     <script src="{{asset( "js/tags.js" )}}"></script>
    {{parent()}}
{% endblock %}
{% block main %}
{% include "homePageBundle:Profile:edit.html.twig" %}
{% endblock main %}
{% block script %}
    <script >
    	imageProfileInit();
        setAddContent('{{ "form.profile.tag.add" | trans }}');
    </script>
{% endblock %}


 
