{% extends "CmaUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block cma_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
{% endblock %}
