{% extends "homePageBundle::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}CMA Art Piece{% endblock %}
{% block javascripts %}
<script src="{{asset( "js/imgProfileEdit.js" )}}"></script>
{{parent()}}
{% endblock %}
{% block nav %}
<div id="smallHeader" >
  {% include "homePageBundle:Default:nav.html.twig" %}
</div>
{% endblock %}
{% block main %}
<section id="concept">
  <header>
  </header>
  <div class="containerS">
    <div class="contentS">
      <p class="title">Une oeuvre en 4 étapes ?</p>
    </div>
  </div>
  <ul>
    <li>
      <div class="containerS">
        <div>
          <div class="image"></div>
        </div>
        <div class="content">
          <p>coucou</p>
        </div>
      </div>
    </li>
    <li>
      <div class="containerS">
      <div class="content">
        <p>coucou</p>
      </div>
      <div>
        <div class="image"></div>
      </div>
      </div>
    </li>
    <li>
      <div class="containerS">
        <div>
          <div class="image"></div>
        </div>
        <div>
          <div class="content">
            <p>coucou</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="containerS">
        <div class="content">
          <p>coucou</p>
        </div>
        <div>
          <div class="image"></div>
        </div>
      </div>
    </li>
  </ul>

</section>
{% endblock %}
