{% extends "homePageBundle::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}CMA Art Piece{% endblock %}
{% block javascripts %}
     <script src="{{asset( "js/imgProfileEdit.js" )}}"></script>
    {{parent()}}
{% endblock %}
{% block nav %}
    <div id="smallHeader" >
        {% include "homePageBundle:Default:nav.html.twig" %}
    </div>
{% endblock %}
{% block main %}
  <section id="help">
    <header class="headerSection">
      <div class="globalS">
        <div class="idSection">Aide</div>
        <div class="logoSection"><img src="{{asset('img/logoTampon.png')}}" alt=""></div>
        <div class="infoSection">
        </div>
      </div>
    </header>
    <div class="containerS">
        <div class="helpBlock">
          <div class="notice">
            Cette page est faite pour répondre aux principales questions que vous pourrez être amenés à vous poser. Cette liste est non exhaustive, c'est pourquoi, si vous avez un quelconque doute, n'hésitez jamais à nous contacter personnellement au 06 XX XX XX XX ou via la boite de dialogue ci-dessous.
          </div>
          <div class="answer">
              Et au niveau du transport, qui est en charge ?
          </div>
          <div class="response">
              L'emballage ainsi que le transport de l'œuvre est à la charge unique de l'artiste. En effet, la livraison fait partie intégrante de la proposition que l'artiste doit soumettre à son client. Il est fortement conseillé de faire appel à des organismes de livraison spécialisés. Cependant, il est possible de négocier et s'accorder avec son client sur une toute autre proposition de livraison.
              <br><br>Rappelez-vous seulement que vous en êtes entièrement responsable.
          </div>
          <div class="answer">
              Et Custom My Art, comment se rémunère-t-il ?
          </div>
          <div class="response">
              Le modèle financier de Custom My Art est extrêmement simple. Il repose sur une dualité : l'artiste fait son profit ; le processus de commande est gratuit pour le client. Custom My Art prélèvera une commission fixe de 15% HT sur chaque transactions financières menées sur la plateforme (Galerie On-line et œuvres sur-mesure).
              <br><br>
              Outre le service de mise en relation, Custom My Art met à disposition de ses artistes des services supplémentaires sous la forme de packs premium.
              <br><br>
              Pour les artistes qui souscrivent au "PACK AGENT", la commission prise par CMA sur la vente de l'œuvre finale sera de 25% HT.
          </div>
          <div class="answer">
              Et pour les droits à l’image sur les œuvres ?
          </div>
          <div class="response">
              Vous réalisez une œuvre, l'intégralité des droits à l'image de cette dernière vous revient.  Custom My Art se donne simplement le droit d'utiliser vos œuvres dans le seul et unique cadre de la promotion et de la communication de votre profil ou de la plateforme.
              <br><br>C'est votre œuvre, ce sont vos droits !
          </div>
          <div class="answer">
              Faut-il obligatoirement être inscrit à la maison des artistes ou à
              l’agessa pour commencer sur Custom My Art ?
          </div>
          <div class="response">
              Il n'est absolument pas obligé d'apparaître sur les listes de La Maison des Artistes ou de l'Agessa pour pouvoir créer un profil et proposer son art sur la plateforme. Afin d'être dans la légalité, la seule recommandation qu'il vous ai demandé est de nous fournir un N°SIRET.
              <br><br>Obtenez votre N°SIRET en seulement 5min en vous déclarant autoentrepreneur et commencez votre activité !
          </div>
          <div class="answer">
              Sommes-nous obligés de communiquer avec le client lors du processus de création ?
          </div>
          <div class="response">
            Custom My Art n'est personne pour vous obliger à quoi que ce soit. Cependant, nous vous recommanderons toujours de discuter, d'échanger et de partager toutes les informations nécessaires à la réalisation de votre œuvre.
              <br><br>Plus vous communiquerez avec votre client, plus il sera satisfait de votre œuvre !
          </div>
          <div class="answer">
              Comment constituer le devis de notre œuvre ?
          </div>
          <div class="response">
            Custom My Art vous met à disposition un devis "pré rempli". Ce devis devra obligatoirement contenir une description écrite de votre futur œuvre, une proposition budgétaire et un délai.
              <br><br>Plus votre devis sera complet, plus vos chances de finaliser la commande avec votre client seront élevées. Joindre un croquis de votre future œuvre dans le devis est un facteur non négligeable.
          </div>
          <div class="answer">
              Comment se passe le pré-paiement ?
          </div>
          <div class="response">
                Lorsque votre client accepte votre devis nous lui demandons de pré-payer le montant de la mission sur un compte de séquestre. Le pré-paiement permet de sécuriser le paiement de la mission et d’instaurer un cadre de confiance entre vous et votre client. Grâce à cette solution, vous commencez à travailler une fois que les fonds ont été versés et se retrouvent bloqués sur un compte séquestre. Vous pouvez réaliser votre mission en toute sécurité, les fonds sont alors débloqués une fois que le vous et le client validez que la mission est bien terminée.
          </div>
          <div class="answer">
              J’ai terminé la mission mais je n’ai pas encore perçu les fonds.
              Que faire ?
          </div>
          <div class="response">
              Pour finaliser le paiement, assurez vous auprès du client qu’il a bien lui aussi cliqué sur <b>Terminer la mission</b>. Si le client vous informe qu’il a bien payé alors appelez nous, il se peut que les clients paient par virement bancaire et oublient d’indiquer la référence, il nous faut donc faire un rapprochement manuel entre son paiement et votre facture.
          </div>
          <div class="answer">
              Comment optimiser mon profil pour qu’il remonte dans les résultats de recherche ?
          </div>
          <div class="response">
              Pour augmenter votre visibilité sur la plateforme et être bien placé dans les recherches, il faut avoir un profil complet et à jour. Concrètement, cela consiste à bien choisir ses mots-clés - qui définissent vos compétences -, avoir un taux de réponse supérieur à 80 %, et surtout avoir des recommandations et des commentaires clients suite à des missions !Nous mettons aussi en avant les profils des nouveaux Hopworkers et les profils qui sont mis à jour (par exemple lorsque vous changez votre statut de “ponctuellement” à “disponible”).
              <br><br>Enfin, l’algorithme de notre moteur de recherche va favoriser les profils qui concrétisent des missions avec des entreprises (c.a.d. qui ont un bon taux de conversion des contacts en devis puis en missions). C’est donc un cercle vertueux puisque faire des missions permet d’avoir plus de contacts et donc plus de propositions de missions intéressantes. De même veillez à bien vous mettre en “indisponible” quand vous ne pouvez pas prendre plus de missions pour ne pas devoir répondre “non” trop souvent à des clients.
          </div>
          <div class="answer">
              Que se passe-t-il si je refuse un projet ?
          </div>
          <div class="response">
              Évidemment, vous n’êtes pas obligé de répondre “oui” à tous les projets qui vous sont proposés. S'ils ne conviennent pas à vos compétences, si vous avez un planning trop chargé, ou tout simplement si la mission ne vous plaît pas vous pouvez dire “non” au client. Il est important cependant de répondre à son message… Et c’est bien plus professionnel et poli ;)
          </div>
          <div class="answer">
              Comment est calculé mon taux de réponse ?
          </div>
          <div class="response">
              Le taux de réponse qui influence votre classement dans les résultats de recherche est calculé en fonction de vos réponses lorsqu’une nouvelle conversation est engagée avec vous. Une fois que vous avez répondu au premier message d’une personne, vous ne risquez pas d’avoir un mauvais taux de réponse. Donc si vous n’êtes pas disponible n’oubliez pas de le signaler professionnellement à votre client. On ne sait jamais, il pourrait de nous nouveau faire appel à vous !
          </div>
          <div class="answer">
              Le client a accepté mon devis mais je n’ai pas encore été payé, est-ce normal ?
          </div>
          <div class="response">
              Grâce à notre système de pré-paiement, le client est à même de verser les fonds de votre mission sur un compte de séquestre dès qu’il accepte le devis. Si vous souhaitez être sûr que votre client dispose bien des fonds pour vous payer vérifiez avant de commencer votre mission que le devis est bien en état “mission démarrée” et non pas “Mission acceptée (en attente de provision)”.Une fois la mission terminée, c’est le client qui débloque ces fonds en indiquant que la mission est terminée et vous les percevrez sous 2 jours ouvrés. Il est donc important de relancer le client avant de débuter votre travail pour qu’il pré-paie votre mission. Si vous n’êtes pas à l’aise n’hésitez pas à demander un coup de main à l’équipe Hopwork, nous sommes là pour ça! Dès que la mission sera pré-payée, vous en serez averti via une notification mail.
          </div>
          <div class="answer">
              Comment annuler un devis non prépayé ?
          </div>
          <div class="response">
            Dans le cas où une mission n’aboutit pas, ou si vous avez fait un doublon de devis, vous pouvez annuler le devis. Pour cela rendez-vous dans la rubrique “Mes devis”. En cliquant sur le devis que vous désirez annuler vous pouvez le supprimer. Sachez cependant que si vous avez fait une erreur en réalisant votre devis, dans le montant par exemple, ou si vous voulez rajouter des prestations vous pouvez simplement modifier le devis à tout moment tant que la mission n’est pas terminée.
          </div>
          <div class="answer">
              Comment remplir un devis à un client Hopwork ?
          </div>
          <div class="response">
              Il vous suffit de vous rendre dans la fenêtre de conversation avec votre client et de cliquer sur “Etablir un devis”. Vous avez la possibilité de détailler tâches par tâches ce que vous allez réaliser et d’indiquer le montant précis de ces prestations. Le calcul se fait alors automatiquement. Avec cette interface vous pouvez tout de suite voir quel sera le montant de la commission Hopwork (10% HT). Tout est OK pour vous ? Vous pouvez alors envoyer votre devis au client !
          </div>
          <div class="answer">
              Je suis affilié à la Maison Des Artistes (MDA), comment faire mon<br>devis ?
          </div>
          <div class="response">
              Les personnes qui dépendent de la Maison Des Artistes (MDA) sont soumises au système de précompte ou “prélèvement à la source”. Cela signifie qu’une partie de vos contributions sociales sont prélevées à la source. Votre client devra donc payer9,40% du montant de facture HT à la MDA et le reste via Hopwork. Vous devez alors indiquer dans vos mentions légales que vous êtes affilié à la MDA et qu’une partie de la facture (9,40% du montant HT) doit être réglée directement auprès d’eux. Voici un exemple de texte que vous pourriez utiliser dans vos mentions légales (vous êtes bien sûr libre de le modifier) :
              <br><br>Membre d’une association agréée. Contribution Maison Des Artistes à la charge du diffuseur :
              <br>- Les sommes précomptées d’un montant de 9,40% du montant HT de la facture ainsi que la contribution diffuseur de 1,1% sont à verser directement par chèque à l’intention de la MDA au 60, rue du Faubourg Poissonnière, 75484 Paris Cedex 10 lors de la déclaration trimestrielle du client à la MDA
              <br>- Le solde (soit 90,60% de la facture HT) est à régler par virement bancaire à Hopwork en précisant bien la référence de la transaction (IBAN : FR76 18829 7541601736222242 51, BIC : CMBRFR2BCME)
              <br><br>Attention il faut bien préciser à votre client qu’il doit déclarer à la MDA l’ensemble de vos rémunérations chaque trimestre afin de payer ses précomptes et contributions diffuseurs. Le formulaire est <a href="#">accessible ici</a>. Une fois cette déclaration effectuée il doit vous retourner un certificat de précompte complété et signé qui justifie qu’il a bien réglé les précomptes auprès de la Maison Des Artistes.
              <br><br>Vous devez prévenir le support de Hopwork que vous êtes à la MDA et nous préciser le montant que vous devez recevoir sur votre compte Hopwork. Nous modifierons alors votre devis en conséquence pour que votre client ne puisse régler que les 90,60% qui vous sont dus. Attention, il n’y a pas de précompte à verser dans le cas où votre client est un particulier, une société étrangère, un commerçant d’art ou s’il s’agit d’une rétrocession d’honoraires entre affiliés de la MDA.
              <br><br>Enfin, si vous n’avez pas fait ces démarches et que votre client n’a pas versé de précompte, pas de panique, tout va bien se passer! Vous devrez déclarer vos revenus annuels à la MDA en précisant votre bénéfice et le total précompté par chaque client. A ce moment là la MDA va calculer le montant réel des cotisations dues, puis en déduire les cotisations précomptées, et hop, le restant à payer est ensuite appelé chaque trimestre.
          </div>
      </div>
    </div>
  </section>
{% endblock %}
