{% extends "homePageBundle::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block main %}
	<form  action="{{ path("image_test") }}" method="post" class="image_test" id="image_test" >
		<input id="image_name" name="image[image]" required="required" type="file"></imput>
		<input id="image_name" name="image[name]" required="required" value="{{ username }}" type="text"></imput>
		{{ form_rest(formImage) }}
	<input class="buttonAction" type="submit" value="{{ 'form.image.submit' | trans }}" />
	</form>

{% endblock %}