* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body{
  font-family: 'robotomedium';
}
ul,li{
}


/*variables*/
.hide{
  display: none;
}
.horizontalCenter{
  margin: 0 auto;
}
.borderTop{
  border-top: 1px solid #000;
}
.black{
  color: #000!important;
}
.white{
  color: #fff!important;
}
.inline{display: inline-block;}
.horizontalAbsCenter{
  transform: translate(0%, -50%);
}
.widthCentralBloc{
  width:930px;
}
.centerText{text-align: center;}
.bottom100{
  margin-bottom: 100px;
}
.padTop60{
  padding-top: 60px;
}
.padTop30{
  padding-top: 30px;
}
.padBottom60{
  padding-bottom: 60px;
}
.green{
  color: #5cbc94;
}
#smallHeader
{
  #header{
    background-image: url("");
    background-color: rgb(0, 0, 0);
    height: 100px;
    #globalH{
      height: 100px;
    }
  }
}
/*style*/
#header{
  .sliderBg{
    position: absolute;
    top:0;
    height: 590px;
    width: auto;
    overflow: hidden;
    img{
      filter: brightness(0.6);
       -webkit-filter: brightness(0.6);
       -moz-filter: brightness(0.6);
       -o-filter: brightness(0.6);
       -ms-filter: brightness(0.6);
      width: 100%;
    }
  }
  font-family: 'robotomedium';
  color: #fff;
  height: 590px;
  position: relative;
  .horizontalCenter;
  #bg-footer{
    height: 60px;
    width: 100vw;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.4);
  }
  #globalH{
    position: relative;
    height: 590px;
    .horizontalCenter;
    .widthCentralBloc;
    #headerHeader{
      .widthCentralBloc;
      padding-top: 20px;
      #search{
        .inline;
        #smallLogo{.inline;padding-right: 55px;img{width: 70px;vertical-align: bottom;}}
        .box{vertical-align: top;.inline;.horizontalCenter;width: 200px;font-size: 0px;padding-bottom: 4px;border-bottom: 1px solid rgba(255,255,255,0.5);
          .text{.inline;width: 180px;font-size: 10px;border: 0px;color:#fff;background-color: transparent;}
          .icon{
            .inline;
            background: none;
            border: none;
            margin: 0px;
            padding: 0px;
            width: 15px;
            height: 15px;
            img{height: 100%;}
          }
        }
      }
      #principal{
        font-size: 0px;
        .inline;
        width: 545px;
        vertical-align: top;
        text-transform: uppercase;
        .logout{
          padding: 5px 10px;
          position: absolute;
          z-index: 200;
          width: 108px;
          margin: 10px 0 0 0;
          background: #000;
          border: #fff solid 1px;
          display: none;
          a{
            font-size: 12px;
            display: block;
            font-family: 'robotolight';
            line-height: 16px;
            &:hover{
              text-decoration: underline;
            }
          }
        }
        .login{
          padding: 20px;
          margin-left: -20px;
          margin-top: -20px;
          position: absolute;
          top: 20px;
          &:hover .logout{
            display: block;
          }
        }
        ul{width: 545px;border-bottom: 1px solid #fff;padding-bottom: 5px;margin-left: 50px;
          li{.inline;font-size: 12px;
            &:first-child,&:nth-child(2),&:nth-child(3){width: 133px;}
            &:nth-child(4){width: 70px;text-transform: none;}
            &:nth-child(5){width: 57px;}
            img{width: 15px;}
            a{color:#fff;text-decoration: none;}
          }
          #btnCo{
            cursor: pointer;
          }
        }
      }
      .devis{width: 100%;text-align: right;margin-top: 8px;
        .demander{  border: 1px solid #fff;background: transparent;
          span{
            color:#fff;text-transform: uppercase;font-family: 'robotolight';
            font-size: 11px;line-height: 25px;padding-left: 15px;padding-right: 15px;
          }
        }

      }
    }
    section{
      margin-top: 85px;
      #logo{width: 250px; .horizontalCenter; img{width: 250px;margin-left: auto;margin-right: auto;opacity: 0.7;}}
      h1{margin-top: 40px;text-align: center;font-family: 'FuturaStd-MediumOblique';text-shadow: 2px 1px #000;font-size: 40px;}
    }
    #footerFooter{
      font-family: 'abelregular';
      text-transform: uppercase;
      height: 60px;
      width: 100%;
      z-index: 5;
      position: absolute;
      bottom: 0px;
      line-height: 60px;
      span{.inline;font-family: 'abelregular';text-transform: uppercase;font-size: 11px;}
      nav{.inline;position: relative;ul{.inline;
        li{.inline;
          cursor: pointer;
          &:first-child{margin-left: 150px;}
          &:nth-child(2){margin-left: 95px;}
          &:last-child{margin-left: 100px;}
        }
        }}
      }
    }
  }
  .pop{
    position: fixed;
    z-index: 1000;
    top:0;
    left:0;
    right: 0;
    overflow: scroll!important;
    bottom:0;
    width: 100vw;
    height: 100vh;
    background: rgba(33, 33, 33,0.5);
    #poprdr{
      background: white;
      width: 50vw;
      z-index: 10000;
      position: absolute;
      overflow: scroll!important;
      min-width: 700px;
      max-width: 800px;
      transform: translate(-50%,0%);
      left: 50%;
      top: 10vh;
      margin-bottom: 80px;
      color: black;
      padding-bottom: 20px;
      border-bottom: 3px solid #67C49E;
      h1{
        margin: 0px auto;
        font-family: 'FuturaStd-MediumOblique';
        display: block;
        letter-spacing: 4px;
        padding: 20px;
        color: rgb(254, 254, 254);
        font-size: 30px;
        font-weight: 100;
        text-align: center;
        text-transform: none;
        position: absolute;
        top: 0;
        width: 100%;
        box-sizing: border-box;
      }
      h2{
        margin: 0px auto;
        display: block;
        padding-top: 0;
        font-size: 20px;
        font-weight: 100;
        text-transform: none;
        font-style: italic;
        text-align: center;
        padding-bottom: 15px;
      }
    }
  }
#presentation{
  background-color: #5cbc94;
  width: 100%;
  text-align: center;
  font-family: 'robotolight';
  font-size: 14px;
#globalP{
  height: 245px;
  .horizontalCenter;
  .widthCentralBloc;
  color:#fff;
  #left{width: 280px;.inline;margin-right: 30px;vertical-align: top;}
  #center{width: 280px;.inline;margin-right: 10px; margin-left: 10px;vertical-align: top;}
  #right{width: 280px;.inline;margin-left: 30px;vertical-align: top;
    #logo{width: 100%;
      img{width: 55px;}
      }}
      #logo{width: 100%;height: 90px;margin-top: 30px;
        img{width: 30px;}
      }
    }
    #video{
      background: #fff;
      width: 100%;
      >div{
        .horizontalCenter;
        max-width: 1920px;
        min-width: 920px;
        text-align: center;
      }
    }
  }
  .artistes{
    background: #000;
    .headerSection{}
      .containerS{
        .contentS{width: 100%;
          ul{font-size: 0px;.inline;width: 100%;
            .blocArtiste{.inline; width: 50%;
              .globalBlocArtiste{width: 385px;margin-bottom: 80px;
                .headerBlocArtiste{
                  .name{font-family: 'montserratregular';font-size: 24px;padding-bottom: 5px;span{font-size: 12px;padding-left: 15px;}}
                  .infos{font-size: 12px;
                    p{.inline;margin-left: 7px;margin-right: 10px;}}
                    padding-bottom: 20px;
                  }
                  .contentBlocArtiste{ img{position: relative; width: 100%; height:100%;display: inline-block;}
                  ul{width: 100%;
                    li{.inline;
                      &:first-child{width: 385px; height: 180px;position: relative;
                        &:hover {
                          .description{
                            transition: background 0.3s ease,color 0.3s ease;
                            height:180px;
                            box-sizing: border-box;
                            position: absolute;
                            width: 100%;
                            padding: 40px;
                            font-size: 15px;
                            text-align: left;
                            background:rgba(6, 6, 6, 0.6);
                            color:white;
                            z-index: 2;
                            .content{
                              vertical-align: middle;
                              height: 100px;
                              overflow: hidden;
                            }
                          }
                        }
                      }
                      &:nth-child(2){width: 115px;height: 140px; margin-top: 10px;margin-right: 10px;margin-bottom: 10px;}
                      &:nth-child(3){width: 115px;height: 140px; margin-top: 10px;margin-right: 10px;margin-left: 10px;margin-bottom: 10px;}
                      &:last-child{width: 115px;height: 140px; margin-top: 10px;margin-left: 10px;margin-bottom: 10px;}
                    }
                  }
                }
              }
              &:nth-child(even){
                width: 385px;
                float: right;
              }
            }
          }
          a{text-decoration: none;color:#FFFFFF;}
        }
      }
      .footerSection{text-align: center;padding-bottom: 50px;}
    }

// .blocArtistes{
//   .globalBlocArtiste{
//   float: left!important;
//   }
//   &:nth-child(1n+1){
//     .globalBlocArtiste{float: right!important;margin-bottom: 80px;
//     }
//   }
// }
#galerie{
  .contentS{
    padding-top: 70px;
    width: 620px;
    .inline;
    .filtres-top{
    font-family: 'robotomedium';
    vertical-align: top;
    color:#000;
    border-bottom: 1px solid #000;
    width: 100%;font-size : 0 ;
    p{.inline;font-size : 15px;padding-bottom: 5px;
    a{color: #000; text-decoration: none;}}
    .nouveaute{width: 33%;}
    .prix-croiss{width: 34%;text-align: center;}
    .prix-decroiss{width: 33%;text-align: right;}
  }
  #galerieLink{
    font-size: 0;
    padding-top: 55px;
    li{
      background: #fff;
    margin-bottom: 40px;
    box-sizing: border-box;
    border: 1px solid #000;
    width: 300px; height: 320px; .inline;font-size: 0px;padding: 0;
    .images{font-size: 0;width: 100%;height: 245px;img{height: 100%;width: 100%;}}
    .infos{

    color: #000;font-size: 16px;font-family: 'robotomedium';
    .decriptions{
      float: left;padding-left: 20px;padding-top: 15px;
      .name{}
        .title{font-size: 12px;color:#ac0012;}
      }
      .price{float: right;padding-right: 20px;padding-top: 15px;}
    }
    &:nth-child(5n+1){margin-right: 0px;width: 620px;}
    &:nth-child(5n+2){margin-right: 10px;}
    &:nth-child(5n+3){margin-left: 10px;}
    &:nth-child(5n+4){margin-right: 10px;}
    &:nth-child(5n+5){margin-left: 10px;}
    }
  }
  .footerNav{
    font-family: 'robotomedium';
    color: #000;
    border-top: 1px solid #000;
    div{
    text-align: center;
    margin-top: 10px;padding-bottom: 20px;
    span{margin-left: 10px; margin-right: 10px;}
    nav{.inline;
    ul{
      li{.inline;font-size: 14px;box-sizing: border-box;
        padding: 10px 15px;
        margin: 20px 5px;
        &:selected{border:solid  #000 1px;font-size: 18px;}
        //juste pour intégration
      }
      .active{
        color: #000;
        border:solid  #000 1px;font-size: 18px;
      }
    }
    }
    }
  }
  }

}
.galerie{
  background: #f5f4f4;
.headerSection{}
.containerS{
.titleS{color: #000;}
.contentS{
ul{font-size: 0;
  li{
    background: #fff;
    margin-bottom: 40px;
    box-sizing: border-box;
    border: 1px solid #000;
    width: 295px; height: 320px; .inline;font-size: 0px;padding: 0;
    .images{font-size: 0;width: 100%;height: 245px;img{height: 100%;width: 100%;}}
    .infos{
      color: #000;font-size: 16px;font-family: 'robotomedium';
      .decriptions{
        float: left;padding-left: 20px;padding-top: 15px;
        .name{}
          .title{font-size: 12px;color:#ac0012;}
        }
        .price{float: right;padding-right: 20px;padding-top: 15px;}
      }
      &:nth-child(5n+1){margin-right: 10px;width: 610px;}
      &:nth-child(5n+2){margin-left: 10px;}
      &:nth-child(5n+3){margin-right: 10px;}
      &:nth-child(5n+4){margin-right: 10px;margin-left: 10px;}
      &:nth-child(5n+5){margin-left: 10px;}
    }
  }
}
}
.footerSection{text-align: center;padding-bottom: 50px;}
}
#footer{
  font-family: 'robotolight';
  background: url('../img/footerHome.png') no-repeat center;
  background-size: cover; /* version standardisée */
  height: 355px;
  width: 100%;
  position: relative;
  .global{
  color:#ababab;
  .horizontalCenter;
  .widthCentralBloc;
  font-size: 0;
  h3{color: #fff;font-family: 'robotomedium';font-size: 14px;margin-bottom: 20px;margin-top: 35px;letter-spacing: 1.3px;}
  .help,.about{
    width: 240px;.inline;font-family: 'robotolight';font-size: 14px;vertical-align: top;
    ul{
      li{
        margin-bottom: 25px;
        a{
          color: #ababab;
          text-decoration: none;
          &:hover{color: #fff;}
        }
      }
    }
  }
  .newsletters{
    .inline;
    .abonnement{font-size: 14px;
      p{width: 300px;}
      .email{margin-top: 15px;margin-bottom: 30px;background: #fff;height: 40px;
        .text{margin: 0;padding-left: 20px;background: transparent;border: 0;vertical-align: middle;height: 40px;}
        .button{
          border: 1px solid #000;background: #4b4949;color:#fff;letter-spacing: 1.2px;
          padding-left: 20px;padding-right: 20px;margin-top: 3px;margin-right: 3px;float:right;vertical-align: middle;
          height: 34px;font-family: 'robotomedium';}
        }
      }
      .follow{
        display: inline-block;
        float: left;
        h4{color: #fff;font-family: 'robotomedium';font-size: 14px;margin-bottom: 13px;letter-spacing: 1.3px;}
        ul{li{padding-bottom:8px; }}
      }
      .logo{
        display: inline-block;
        float: right;
        img{
          padding-left: 10px;
        }
      }
    }
  }
  .footerPowered{
    text-align: right;
  }
}
#devis{
background: #f5f4f4;
font-family: 'robotoregular';
height: 100%;
.checkbox label {
  top:4px;
}
.containerS{
  color: #000;
  width: 100%;
  .remarques{height: 50px;}
  .titleS{
    padding-top: 30px;
    padding-bottom: 30px;
    .horizontalCenter;
    width: 620px;
    height: auto;
    div{border-bottom: 1px solid black;  text-align: left;font-size: 16px;}
    p{text-align: right;font-size: 13px;}
  }
  .blockCheckbox{
    width: 450px;
    .horizontalCenter;
    padding-bottom: 30px;
    .checkbox {}
      p{.inline;float: right;font-size: 14px;
        a{
          color: #000; text-decoration: none;
          &:hover{text-decoration: underline;}
        }
      }

    }
    .button{
      width: 100%;
      text-align: center;
      padding-bottom: 70px;
      .buttonSend{
        background: #ac0012;padding:10px 70px;.inline;
        color:#fff;font-family: 'robotomedium';
        font-size: 13px;letter-spacing: 1.1px;
      }
    }
    .footertext{
      .horizontalCenter;
      width: 620px;
      padding-bottom: 80px;
      font-size: 14px;
      .alertBox{
        background: #e3e3e3;
        padding: 20px;
        border: 1px solid #000;
        .alert{
          line-height: 20px;
          img{vertical-align: middle;padding-right: 5px;}
          b{vertical-align: middle;}
        }
        .smallLogo{text-align: right;}
      }
    }
  }

}
.descriptionOeuvre{
  width: 620px;
  .horizontalCenter;
  p{
    font-size: 14px;
    vertical-align: top;
    margin-bottom: 20px;
    .inline;width: 298px;
    &:nth-child(odd){margin-right: 10px;}
    &:nth-child(even){margin-left: 10px;}
    input,select,textarea,option{width: 100%;height: 30px;margin-top: 10px;font-size: 14px;padding-left: 5px;border: 1px solid #b4b4b4;}
    textarea{height: 180px;padding-top: 5px;resize:none;}
  }
  .textarea{width: 100%;}
  select {
    -webkit-appearance: none;
    -moz-appearance:none;
    box-sizing: inherit;
    -moz-box-sizing: inherit;
    font-size: 14px;
    background: url('../img/arrow_down.png') 97% 50% no-repeat #fff;
    background-size: 20px 20px;
    border: 1px solid #b4b4b4;
    border-radius: 0px;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    outline: none;
  }
}
#uploadImage{
  font-size: 0px;
  .horizontalCenter;
  width: 940px;
  height: 295px;
  box-sizing:content-box;
  div{
    margin-top: 10px;
    font-size: 0px;
    background: url('../img/upload.png') 50% 50% no-repeat #fff;
    width: 300px;height: 295px; .inline;
    &:nth-child(1){margin-right: 10px;}
    &:nth-child(2){margin-right: 10px;margin-left: 10px;}
    &:nth-child(3){margin-left: 10px;}
  }
  padding-bottom:50px;
}
.estimateSummary{
    .block{
      font-size: 14px;
      vertical-align: top;
      margin-bottom: 20px;
      .inline;width: 298px;
      font-family: 'robotoregular';
      &:nth-child(odd){margin-right: 10px;}
      &:nth-child(even){margin-left: 10px;}
        span{
          width: 298px;
          font-family: 'robotoitalic';
          display: block;
          color: #999;
          border-bottom: solid #999999 1px;
        }
      }
      .description{
        font-size: 14px;
        vertical-align: top;
        margin-bottom: 20px;
        .inline;width: 100%;
        font-family: 'robotoregular';
        span{
          width: 620px;
          font-family: 'robotoitalic';
          display: block;
          color: #999;
          border-bottom: solid #999999 1px;
        }
      }

    .title{
      height: auto;
      text-align: left;
      font-size: 16px;
      font-family: 'robotomedium';
      border-bottom: 1px solid #000;
      width: 625px;
      padding-bottom: 5px;
      margin-bottom: 15px;
      padding-top: 30px;
      span{
        font-family: 'FuturaStd-MediumOblique';
        font-size: 20px;}
    }

    #uploadImage{
      width: auto!important;
      .imageEstimate{
        width: 195px;
        height: 195px;
      }
    }
}
#artistes{
  background: #151515!important;
  #marqueurs{
    color: #adadad;
    font-size: 0;
    padding-top: 40px;padding-bottom: 50px; font-family: 'myriadProregular';
    li{.inline;border: 1px solid #adadad;
      line-height: 25px;text-align: center;
      text-transform: uppercase;
      width: 218px;height: 25px;
      margin-bottom: 10px;
      box-sizing: border-box;font-size: 14px;
      &:nth-child(4n+1){margin-right: 9px;}
      &:nth-child(4n+2){margin-left: 9px;margin-right: 9px;}
      &:nth-child(4n+3){margin-left: 9px;margin-right: 9px;}
      &:nth-child(4n+4){margin-left: 9px;}
      a{
        text-decoration: none;
        color: #adadad;
      }

    }
  }
}
.footerNav{
  font-family: 'robotomedium';
  color: #fff;
  border-top: 1px solid #fff;
  div{
    text-align: center;
    margin-top: 10px;padding-bottom: 20px;
    span{margin-left: 10px; margin-right: 10px;}
    nav{.inline;
      ul{
        li{.inline;font-size: 14px;box-sizing: border-box;
          padding: 10px 15px;
          margin: 20px 5px;
          &:hiver{border:solid  #ddd 1px;font-size: 18px;}//juste pour intégration
        }
        .active{border:solid  #fff 1px;font-size: 18px;}
      }
    }
  }
}
/*concept*/
#concept{
  header{
    height: 500px;
    position: relative;
    width: 100%;
    overflow: hidden;
    background: url('../img/headerConcept.jpg')no-repeat 50% 20%;
    background-size: cover;
   div{
     height: 500px;
     width: 100%;
     position: absolute;
     top: 0;
     opacity: 0.5;
     background: #000;
   }
  }
  .containerS{
    color: #000;
    .contentS{
      .title{
        text-align: center;
        font-family: 'FuturaStd-MediumOblique';
        font-size: 28px;
        padding: 40px 0;
      }
      .equipe{
        margin-top: 30px;
        width: 100%;
        position: relative;
        color:#545454;
        font-family: "robotoregular";
        font-size: 14px;
      }
      .imagefooter{
        height: 500px;
        position: relative;
        img{
          position: absolute;
          transform: translate(-50%,0);
          left:50%;
          height: 500px;
          width: auto;
        }
      }
    }
  }
  ul{
    li{
      border-bottom:2px solid #919191;
      .containerS{
        font-size: 0;
        .block{
          .inline;
          width: 50%;
          min-height:323px;
          position: relative;
          font-size: 14px;
          .content{
            position: absolute;
            vertical-align: top;
            transform: translate(0,-50%);
            top:40%;
            .titreContent{
              font-size: 18px;
              padding-bottom: 20px;
              color:#000;
            }
            p{
              color:#545454;
              font-family: "robotoregular";
              font-size: 13px;
            }
          }
        }
        .image{
          width: 350px;
          height: 350px;
          border: solid 1px #919191;
          border-radius: 50%;
        }
      }
      &:nth-child(odd){
        background-color: #fff;
        text-align: left;
        .image{
          margin: 50px 0%;
        }
      }
      &:nth-child(even){
        background-color: #f5f4f4;
        text-align: right;
        .image{
          margin: 50px 25%;
        }
      }
      &:first-child{
        .image{
          background: url('../img/motion-01.jpg')no-repeat 50% 50%;
          background-size: 170%;
        }
      }
      &:nth-child(2){
        .image{
          background: url('../img/motion-02.jpg')no-repeat 50% 50%;
          background-size: 180%;
        }
      }
      &:nth-child(3){
        .image{
          background: url('../img/motion-03.jpg')no-repeat 50% 50%;
          background-size: 170%;
        }
      }
      &:nth-child(4){
        .image{
          background: url('../img/motion-04.jpg')no-repeat 50% 50%;
          background-size: 180%;
        }
      }
    }
  }
  .separatefooter{
    text-align: center;
    .border{
      border-bottom:2px solid #919191;
      width: 45.3%;
      height: 5px;
      .inline;
    }
    span{
      padding: 0 20px;
    }
  }
  .logo{
    text-align: center;
    img{
      margin: 60px 40px 100px;
    }
  }
}
#login{
  padding: 20px;
  input[type="text"],input[type='password']{
    width: 100%;
    display: block;
    padding: 8px;
    padding-left: 0;
    box-sizing: border-box;
    margin: 20px 0;
  }
  .buttonAction{
    margin: 0 auto;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none !important;
    border: medium none;
    text-transform: none;
    font-size: 15px;
    font-weight: 100;
    margin-left: 10px;
  }
  a{
    padding-top: 11px !important;
    padding-bottom: 11px !important;
  }
}
#loginPage{
  #login{
    width: 940px;
    min-height: 400px;
    margin: 0 auto;
    position: relative;
  }
  #login input[type="submit"]{
    left: 20;margin-left:0;
  }
  .checkbox label{
    top:4px;
  }
  // .buttonAction {&:nth-of-type(0){left: 0;margin-left:0 !important}&:nth-of-type(1){left: 377px;margin-left:0 !important}&:nth-of-type(2){left: 860px;margin-left:0 !important}}
  margin-bottom: 80px;
}
#rgstr{
  display: none;
}
#registration{
  padding: 20px;
  input[type="text"],input[type='password'],input[type='email']{
    width: 100%;
    display: block;
    padding: 8px;
    padding-left: 0;
    box-sizing: border-box;
    margin: 20px 0;
  }
  #divselect{
    border: none;
    width: 100%;
    height: 40px;
    .choices:first-child{
      margin-left:20px;
    }
    .choices{
      padding: 10px;
      margin: 0 2%;
      display: inline-block;
      text-align: center;
      white-space: nowrap;
      background: #cecece;
      color: white;
      cursor: pointer;
      position: relative;
      text-transform: none;
      width: 25%;
      .arrow{
        display: none;
        width: 0.5px;
        height: 0.5px;
        border: 5px solid #67C49E;
        position: absolute;
        top: 29px;
        left: 90.32px;
        transform: rotate(45deg);
        transform-origin: 0% 0%;
      }
    }
    .choices[data='selected']{
      background: #67C49E;
      .arrow{
        display: block;
      }
    }
  }
  .buttonAction{
    margin: 0 auto;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none !important;
    border: medium none;
    text-transform: none;
    font-size: 15px;
    font-weight: 100;
    margin-left: 10px;
  }
  a{
    padding-top: 11px !important;
    padding-bottom: 11px !important;
  }
}
#registrationPage
{
  width: 940px;
  margin: 0 auto;
  #registration{
    h2{
      text-align: center;
      margin-bottom: 20px;
    }
    #fos_user_registration_form_username{
      margin-top: 40px;
    }
    #divselect{
      .choices:first-child{
        margin-left:0px;
      }
      .choices:last-child{
        margin-right:0px;
      }
      .choices{
        width: 284px;
        margin: 0 10px;
        box-sizing: border-box;
        .arrow{
          top: 34px;
          left: 142px;
        }
      }
    }
    .buttonAction{
      float: none;
      position: relative;
      margin-left: 392px;
    }
  }
}
#fos_user_registration_form_group{
  display: none;
}

.param{
  background: #f5f4f4!important;
  font-family: 'robotoregular';
  .containerS{
    .aside{
      padding-top: 0px;
      min-height: 500px;
      .filtres-container{
        ul{
          li{
            p{padding-left: 0;
              a{color:#000;text-decoration: none;}
            }
            &:hover{border-bottom: 1px solid red;
              a{color:red!important;}
            }
          }
        }
      }
    }
    .title{
      height: auto;
      text-align: left;
      font-size: 16px;
      font-family: 'robotomedium';
      border-bottom: 1px solid #000;
      width: 625px;
      padding-bottom: 5px;
      margin-bottom: 15px;
      padding-top: 30px;
    }
    .contentS{
      font-size: 14px;
      .titleS{
        height: auto;
        text-align: left;
        font-size: 16px;
        font-family: 'robotomedium';
        border-bottom: 1px solid #000;
        width: 625px;
        padding-bottom: 5px;
        margin-bottom: 15px;
        padding-top: 30px;
      }
      color : #000;
      width: 625px;
      .inline;
      .identity{
        .titleS{
          font-family: 'FuturaStd-MediumOblique';
          font-size: 20px;
        }
      }
      .notif{
        ul{
          li{
            height: 35px;
            padding-bottom: 5px;
            margin-bottom: 20px;
            border-bottom: 1px solid #000;
            .checkbox{
              float: right;
              margin-right: 35px;
            }
          }
        }
      }
      .account{
        ul{
          li{
            height: 35px;
            padding-bottom: 5px;
            margin-bottom: 20px;
            border-bottom: 1px solid #000;
            .checkbox{
              float: right;
              margin-right: 35px;
            }
          }
        }
      }
      .button{
        width: 100%;
        text-align: center;
        padding-bottom: 70px;
        padding-top: 30px;
        .buttonSend{
          background: #ac0012;padding:10px 70px;.inline;
          color:#fff;
          font-size: 13px;letter-spacing: 1.1px;
        }
      }
    }
  }
}
.estimates{
  font-size: 0;
  background: #fff;
  &:nth-child(even){width: 298px; margin: 0 12px 40px 0; }
  &:nth-child(odd){width: 298px; margin: 0 0 40px 12px;}
  a{text-decoration: none;color:black;}
  position: relative;
  display: inline-block;
  .header{
    position: absolute;
    padding: 5px 15px;
    font-size: 14px;
    .delete{
      text-align: left;
      display: inline-block;
      font-size: 14px;
      width: 48%;
    }
    .icons{
      img{
        width: 20px;
      }
      text-align: right;
      width: 50%;
      display: inline-block;
      font-size: 14px;
    }
  }
  #linktoproposal{
    position: absolute;
    width: 100%;
    height: 70%;
    top:15%;
  }
  .infoEstimate{
    text-align: center;
    margin: 0 20px;;
    border-bottom: 1px solid #000;
    font-size: 14px;
    font-weight: bold;
    div{
      p{
        font-size: 14px;
      }
      &:first-child{
          text-align: left;
      }
      &:last-child{
          text-align: right;
      }
      width: 32%;
      display: inline-block;
      font-size: 0;
      box-sizing: border-box;
      text-align: center;
    }
    padding: 5px 5px 20px ;
  }
  .estimateProposals{
    font-size: 0px;
    width: 100%;
    font-family: 'robotoregular';
    padding: 15px 20px;
    box-sizing: border-box;
    color: #4b4b4b;
    p{
      width: 50%;
      font-size: 12px;
      display: inline-block;
      &:first-child{
        text-align: left;
      }
      &:last-child{
        text-align: right;
      }
    }
    div{
      font-size: 12px;
      text-align: center;
    }
  }
  .titleEstimate{
    padding: 30px 20px 10px 20px;
    text-align: center;
    h4{
      font-family: 'robotoitalic';
      font-size: 24px;
      font-style: bold;
    }
    div{
      font-size: 10px;
    }
  }
  .action{
    color: #efefef;
    font-size: 14px;
    width: 100%;
    text-align: center;
    background: rgb(207, 63, 57);
    padding: 10px;
    box-sizing: border-box;
  }
}
.estimateEdit{
  .blockCheckbox{
    text-align: center;
    color: #000;
    .notice{
      margin: 20px auto;
      font-size: 14px;
      font-weight: 100;
      color:#797979;
      width: 500px;
    }
    .checkbox label{
      top:4px;
    }
  }
}
.stateEstimate{
  font-family: 'FuturaStd-MediumOblique';
  li{
    .inline;
    padding: 0 39px;
    color: #e3e3e3;
  }
  .black{color: #000;}
}
.proposalCreate{
  .title{
    .headTitle{
      font-family: 'FuturaStd-MediumOblique';
      font-size: 20px;
    }
  }
  .description{
    width: 100%;
  }
    span{
      width: 298px;
      font-family: 'robotoitalic';
      display: block;
      color: #999;
      border-bottom: solid #999999 1px;
    }
    #uploadImage{
      width: auto!important;
      .imagePiece{
        width: 195px;
        height: 195px;
      }
    }
}
.step{
  .stateEstimate{
    font-family: 'FuturaStd-MediumOblique';
    li{
      .inline;
      padding: 0 50px;
      color: #e3e3e3;
    }
    .black{color: #000;}
  }
}
.proposalsList{
  width: 100%;
  position: relative;
  background: #fff;
  height: 150px;
  margin: 20px 0;

  .headerP{
    width: 150px;
    color: #fff;
    text-align: center;
    position: absolute;
    display: inline-block;
    h4{
      padding-top: 47px;
      font-family: 'robotoitalic';
      font-size: 22px;
    }
  }
  .info{
    position: absolute;
    left: 180px;
    top: 30px;
    width: 260px;
    display: inline-block;
    div{
      width: 30%;
      text-align: center;
      display: inline-block;
      &:first-child{
        text-align: left;
      }
      &:nth-child(3){
        text-align: right;
      }
    }
    .proposal{
      width: 100%;
      text-align: left;
    }
  }
  .buttonAction{
    display: inline-block;
    position: absolute;
    right: 15px;
    top:45px;
    padding: 15px 15px;
  }
  .delete{
    position: absolute;
    right: 15px;
    top:3px;
    a{
      color: #000;
      font-size: 20px;
      text-decoration: none;
    }
  }

}
.titlePropo{
  font-family: 'FuturaStd-MediumOblique';
  font-size: 20px;
}
.titleproposal{
  text-align: center;
  color: #fff;
  h3{font-family: 'FuturaStd-MediumOblique';font-size: 22px;padding-top: 40px;}
}
.proposals{
  .infoproposal{
    p{
      span{
        color: #999;
      }
    }
  }
}
#comments{
  .titleS{
    padding-top: 0px!important;
  }

}
.actionProposal{
  text-align: center;
  .buttonAction{
    width: 97%!important;
    font-size: 13px!important;
    padding: 15px 0!important;
  }
  a{
    text-decoration: none;
  }
}

.pink{
  background: red;
}
.titlePieceCreate{
  height: auto;
  text-align: left;
  border-bottom: 1px solid #000;
  width: 625px;
  padding-bottom: 5px;
  margin: 30px auto;
}
.piece textarea{
  height: 100px!important;
}
.mainProfile{
  .containerS{
    color: #000;

  }
}
#mainProfile{
  display: inline;
  background: #f5f4f4;
  width: 100%;
  #profile{
    margin: 0 auto;
    font-size: 0;
    div{
      width: 50%;
      display: inline-block;
      font-size: 16px;
    }
    #profile_tags{
      text-align: right;
    }
  }
}

/*general profil artiste*/
.grayBackground{
  background: #f5f4f4;
}
.username{
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #c71616;
  font-family: 'FuturaStd-MediumOblique';
}
.localisation{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  padding-bottom: 10px;
  font-family: 'FuturaStd-Medium';
}
.navProfilArtiste{
  width: 100%;
  height: 60px;
  font-size: 20px;
  background: rgba(0,0,0,0.7);
  margin-top: -60px;
  text-align: center;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      .inline;
      line-height: 60px;
      padding : 0 100px;
      a{
        font-family: 'abelregular';
        text-decoration: none;
        color: #c71616;
        text-transform: uppercase;
      }
      a.active{
        color: #fff;
      }
    }
  }
}
.profilArtiste{
  padding-bottom: 50px;
  border-bottom: 1px solid #000;
}
.headeArtisteRight{
  float: right;
  width: 49%;
  .infos{
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    margin-top: 50px;
    text-align: center;
    div{
      .inline;
      margin: 0 40px;
      text-align: center;
    }
  }
}
.headeArtisteLeft{
  display: inline-block;
  width: 49%;
}
.headerArtisteGalerie{
  text-align: center;
  p{
    font-family: 'FuturaStd-MediumOblique';
    font-size: 30px;
  }
}
#marqueurs{
  color: #adadad;
  font-size: 0;
  padding-top: 10px;padding-bottom: 50px;
  li{.inline;border: 1px solid #adadad;
    font-family: 'robotoregular';
    line-height: 24px;text-align: center;
    text-transform: uppercase;
    width: 118px;height: 25px;
    margin-bottom: 10px;
    box-sizing: border-box;font-size: 14px;
    &:nth-child(4n+1){margin-right: 9px;}
    &:nth-child(4n+2){margin-left: 9px;margin-right: 9px;}
    &:nth-child(4n+3){margin-left: 9px;margin-right: 9px;}
    &:nth-child(4n+4){margin-left: 9px;}
    a{
      text-decoration: none;
      color: #adadad;
    }
  }
}
#profileHeader{
  .basicHeaderOk{
    width: 100%;
    height: 590px;
  }
  .basicHeader{
    width:800px;
    margin: 0 auto;
  }
}
.infosArtiste{
  min-height: 300px;
  color:#000;
  textarea{
    height: 120px;
    width: 440px;
    font-size: 13px;
    border: 1px solid #959595;
    resize: none;
    padding: 5px;
  }
  .description{
    width: 440px;
    font-size: 13px;
    resize: none;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    overflow: hidden;
  }
}
#imageAll{
  font-size: 0px;
  .imageProfile{
    &:first-child{
      width: 100%;
      height: 400px;
      margin-bottom: 25px;
    }
    &:nth-child(2){
      width: 452.5px;
      .inline;
      height: 400px;
      margin-right: 12.50px;
    }
    &:nth-child(3){
      width: 452.5px;
      .inline;
      height: 400px;
      margin-left: 12.50px;
    }
  }
}
/*help*/
#help{
  background: #f5f4f4;
  .helpBlock{
    color: #000;
    .horizontalCenter;
    width: 600px;
    padding: 40px 0 100px 0;
    .notice{
      font-family: 'FuturaStd-Medium';
      padding: 55px 0;
      font-size: 18px;
      font-weight: bold;
    }
    .question{
      font-family: 'FuturaStd-MediumOblique';
      padding: 0 0 30px;
      font-weight: bold;
      font-size: 20px;
    }
    .answer{
      font-family: 'FuturaStd-Medium';
      font-size: 14px;
      color: #2a2a2a;
      font-weight: 300;
      padding-bottom: 70px;

    }
  }
}
/*infos*/
#infos{
  background: #f5f4f4;
  font-family: 'robotoregular';
  .containerS{
    .aside{
      padding-top: 0px;
      min-height: 500px;
      .filtres-container{
        ul{
          li{
            p{padding-left: 0;
              a{color:#000;text-decoration: none;&:hover{color:red;}}
            }
            &:hover{border-bottom: 1px solid red;}
          }
        }
      }
    }
    .contentS{
      .titleS{
        height: auto;
        text-align: left;
        border-bottom: 1px solid #000;
        width: 625px;
        padding-bottom: 5px;
        margin-bottom: 30px;
      }

      color : #000;
      padding-top: 30px;
      width: 620px;
      .inline;
      form{margin-bottom: 40px;}
      .identity{
        .instruction{font-size: 14px;text-align: justify;margin-bottom: 30px; width: 620px;}
        p{
          font-size: 14px;
          vertical-align: top;
          margin-bottom: 20px;
          .inline;width: 298px;
          &:nth-child(3){margin-right: 10px;}
          &:nth-child(4){margin-left: 10px;}
          input,select,textarea,option{width: 100%;height: 30px;margin-top: 10px;font-size: 14px;padding-left: 5px;border: 1px solid #b4b4b4;}
          textarea{height: 180px;padding-top: 5px;resize:none;}

        }
      }
      .statut{
        p{
          font-size: 14px;
          vertical-align: top;
          margin-bottom: 20px;
          .inline;
          &:nth-child(2){margin-right: 10px;width: 298px;}
          &:nth-child(3){margin-left: 10px;width: 298px;}
          &:nth-child(4){margin-left: 0px;width: 620px;}
          &:nth-child(5){margin-right: 10px;width: 190px;}
          &:nth-child(6){margin-left: 10px;margin-right: 10px;width: 190px;}
          &:nth-child(7){margin-left: 10px;width: 190px;}
          input,select,textarea,option{width: 100%;height: 30px;margin-top: 10px;font-size: 14px;padding-left: 5px;border: 1px solid #b4b4b4;}
        }
      }
      .bank{
        p{
          font-size: 14px;
          vertical-align: top;
          margin-bottom: 20px;
          .inline;
          &:nth-child(2){margin-right: 10px;width: 298px;}
          &:nth-child(3){margin-left: 10px;width: 298px;}
          &:nth-child(4){margin-right: 10px;width: 298px;}
          &:nth-child(5){margin-left: 10px;margin-right: 10px;width: 198px;}
          &:nth-child(6){margin-left: 10px;width: 76px;}
          input,select,textarea,option{width: 100%;height: 30px;margin-top: 10px;font-size: 14px;padding-left: 5px;border: 1px solid #b4b4b4;}
        }
      }
      .button{
        width: 100%;
        text-align: center;
        padding-bottom: 70px;
        margin-top: 30px;
        .buttonSend{
          background: #ac0012;padding:10px 70px;.inline;
          color:#fff;font-family: 'robotomedium';
          font-size: 13px;letter-spacing: 1.1px;
        }
      }
    }
  }
}

/*START buy*/
.buy{
  background: #f5f4f4;
  padding: 0 0 50px 0;
  .title{
    text-transform: uppercase;
    font-size: 30px;
    padding: 30px 0 20px 0;
    font-weight: 900;
    color: #c71616;
    font-family: 'FuturaStd-MediumOblique';
  }
  .images{
    .inline;
    #Glide{
      width: 700px;
      height: 440px;
      background-position: center center;
      .glide__wrapper{
        background: #000;
        background-position: center center;
        top: 50%; left: 50%;
        width: 700px;
        height: 440px;
        text-align: center;
        img{
          position: relative;
          margin: 0 auto;
          width: auto;
          height: 440px;
        }
      }
    }
    .notice{
      position: relative;
      padding: 15px 0;
      font-size: 12px;
      border-bottom: 1px solid #000;
      img{
        position: absolute;
        right: 0;
      }
    }
  }
  .description{
    position: relative;
    .inline;
    padding-left: 10px;
    width: 210px;
    height: 440px;
    vertical-align: top;
    .title{
      text-transform: none;
      width: 100%;
      margin-bottom: 10px;
      padding: 0 0 0 0;
      border-bottom: 1px solid #000;
      color: #000;
      font-size: 16px;
    }
    h4{
      font-family: 'robotoitalic';
      font-size: 12px;
      color:#999999;
    }
    .content{
      font-size: 12px;
      margin-bottom: 20px;
    }
    .tags{
      .techniques{
        font-size: 0px;
        li{
          display: inline-block;
          .inline;
          border: 1px solid #adadad;
          font-family: 'robotoregular';
          line-height: 24px;
          text-align: center;
          text-transform: uppercase;
          color:#999999;
          padding: 0 10px;
          font-size: 12px;
          height: 25px;
          margin: 0 10px 10px 0;
          box-sizing: border-box;
        }
      }
    }
    .addBasket{
      position: absolute;;
      bottom: 0;
      width: 100%;
      text-align: center;
      .price{
        margin-bottom: 5px;
        width: 100%;
        border: 1px solid #000;
        line-height: 30px;
      }
      h6{
        font-family: 'robotoitalic';
        font-size: 10px;
        color:#999999;
        margin-bottom: 30px;
      }
      .buttonMore {
        line-height: 35px;
        padding: 0 0 0 0;
        width: 100%;
        font-size: 12px;
        text-decoration: none;
      }
    }
  }
}

.profileHeaderBuy{

  .basicHeaderOk{
    width: 100%;
    text-align: center;
    height: 330px;
    position: relative;
    .bg{
      width: 100%;
      height: 100%;
    }
    .cache{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #000;
      opacity: 0.3;
      z-index: 2;
      filter: alpha(opacity=30); /* For IE8 and earlier */
    }
    .content{
      color: #fff;
      z-index: 4;
      position: absolute;
      transform: translate(-50%,-50%);
      left: 50%;
      top: 50%;
      width: 380px;
      .name{
        font-family: 'FuturaStd-MediumOblique';
        font-size: 30px;
        padding: 0 0 20px 0;
        text-transform: uppercase;
      }
      .description{
        font-size: 12px;
      }
      .infos{
        padding-top: 30px;
        .block{
          display: inline-block;
          font-size: 12px;
          &:first-child{margin: 0 30px 0 0;}
          &:last-child{margin: 0 0 0 30px;}
        }
      }
    }
  }
}
/*END buy*/

/*START basket*/
.basket{
  .step{
    padding: 70px 0 0 0;
  }
  padding: 0 0 100px 0;
  input{
    width: 100%;
    height: 25px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #b4b4b4!important;
  }
  .headerStep{
    text-align: center;
    color: #676464;
    background: #efebeb;
    border-bottom: #676464 1px solid;
    line-height: 45px;
  }
  .step1{
    .content{
      background: #fff;
      ul{
        li{
          border-bottom: 1px solid  #efebeb;
          .image{
            .inline;
            width: 140px;
            background: rgba(0,0,0,0.3);
            height: 107px;
            margin: 20px 40px;
          }
          .description{
            margin: 20px 0;
            width: 210px;
            vertical-align: top;
            .inline;
            h4{
              font-family: 'robotoitalic';
              font-size: 12px;
              color:#999999;
            }
            p{
              font-size: 11px;
              margin-bottom: 5px;
            }
          }
          .price{
            .inline;
            vertical-align: top;
            float: right;
            margin: 50px 40px 0 0;
            text-align: center;
            border: 1px solid #000;
            line-height: 20px;
            width: 80px;
            font-size: 12px;
          }
        }
      }
    }
    .totalPrice{
      background: #efebeb;
      font-size: 0px;
      box-sizing: border-box;
      img{
        width: 30%;
        margin: 20px 40px;
      }
      .price{
        width: 57%;
        height: 30px;
        padding: 20px 0 0 0;
        font-size: 12px;
        vertical-align: top;
        display: inline-block;
        p{

        }
        .text{
          float: left;
          .inline;
          margin: 0 0 0 40px;
        }
        .result{
          text-align: right;
          margin: 0 40px 0;
          .number{
            display: inline-block;
            text-align: center;
            border: 1px solid #000;
            line-height: 20px;
            width: 80px;
          }
          .notice{
            font-family: 'robotoitalic';
            font-size: 10px;
            color:#999999;}
        }

      }
    }
    .footerStep{
      background: #f5f4f4;
      padding: 15px 0 30px 0;
      .notice{
        .inline;
        font-family: 'robotoitalic';
        font-size: 10px;
        color:#999999;
        width: 63%;
      }
      .validate{
        .inline;
      float: right;
        .buttonMore{
          background: #ac0012;
          padding: 10px 30px;
          font-size: 12px;
          cursor: pointer;
          margin: 5px 20px 0 0;
          display: inline-block;
          color: #fff;
          font-family: 'robotomedium';
        }
      }
    }
  }
  .step2{
    padding-bottom: 40px;
    p{
      padding-top: 20px;
      font-size: 13px;
      &:first-child{
        width: 622px;
      }
      &:nth-child(2){
        .inline;
        margin-right: 11px;
        width: 191px;
      }
      &:nth-child(3){
        .inline;
        margin-right: 10px;
        margin-left: 10px;
        width: 191px;
      }
      &:nth-child(4){
        .inline;
        margin-left: 11px;
        width: 191px;
      }
    }
  }
}
/*END basket*/

/*START opinions*/
.opinions{
  background: #f5f4f4;
  padding: 70px 0 150px 0;
  .containerS{
    ul{
      font-size: 0px;
      li{
        .inline;
        margin-bottom: 40px;
        background: #fff;
        width: 455px;
        .image{
          width: 455px;
          height: 165px;
        }
        h4{
          text-align: center;
          border-bottom: solid 1px #999999;
          padding: 0 0 5px 0;
          margin: 0px 0 10px 0;
          span{
            font-size: 14px;
            &:first-child{
            float: left;
            }
            &:nth-child(2){
            font-weight: 100;
            font-family: "robotoitalic";
            }
            &:last-child{
            float: right;;
            }
          }
        }
        .text{
          padding: 20px 40px 40px 40px;
          font-size: 14px;
        }

        &:nth-child(even){
          margin-left: 19px;
        }
      }

    }

  }
}
/*END opinions*/


/*START aside*/
.aside{
  padding-top: 70px;
  color:#000;
  min-height: 700px;
  width: 300px;.inline;
  vertical-align: top;
  .filtres-container{
    width: 220px;
    .box{background: transparent;vertical-align: top;width: 220px;.inline;.horizontalCenter;font-size: 0px;padding-bottom: 4px;border-bottom: 1px solid #000;
      .text{
        .inline;
        width: 205px;
        font-family: 'robotoregular';
        font-size: 12px;
        border: 0px;
        background: transparent;
        color:#000;
      }
      .icon{
        .inline;
        background: none;
        border: none;
        margin: 0px;
        padding: 0px;
        width: 15px;
        height: 15px;
        img{height: 100%;}
      }
    }
    .cat-filtres{
      >p{
        font-family: 'FuturaStd-MediumOblique';
        font-size: 18px;
        border-bottom: 1px solid #000;
        line-height: 30px;
        padding-top: 30px;
      }
      ul{
        li{
          border-bottom: 1px solid #000;
          font-family: 'robotomedium';
          font-size: 13px;
          height: 30px;vertical-align: middle;
          .checkbox {
            .inline;
            width: auto;
            height: 11px;
            position: relative;
            label {
              border: 2px solid #cfcaca;
              cursor: pointer;
              position: absolute;
              width: 11px;
              height: 11px;
              left: 0px;
              top: 2px;
              background: #fff;
              &:after {
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                filter: alpha(opacity=0);
                opacity: 0;
                content: '';
                position: absolute;
                width: 6px;
                height: 3px;
                background: transparent;
                top: 1.5px;
                left: 1.5px;
                border: 2px solid #000;
                border-top: none;
                border-right: none;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
              }
              &:hover::after {
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
                filter: alpha(opacity=30);
                opacity: 0.3;
              }
            }
            input[type=checkbox]:checked + label:after {
              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
              filter: alpha(opacity=100);
              opacity: 1;
            }
          }
          p{.inline;line-height: 30px;padding-left: 10px;}
        }
      }
    }
  }
}
/*END aside*/

/*propriétés récurrentes*/
input[type="search"],input[type="email"], input[type="password"],input[type="text"]{
  outline: none;
  border: none;
  border-bottom: 1px solid #666;
  font-size: 15px;
}
input[type="search"]:focus,input[type="email"]:focus, input[type="password"]:focus,button:focus, textarea:focus,input[type="text"]:focus{
  outline: none;
}
input[type="submit"]{
  cursor:pointer;
  text-decoration: none;
  border: none;
  font-size: 15px;
}
.globalS{
  color: #fff;
  .widthCentralBloc;
  .horizontalCenter;
  height: 75px;
  line-height: 75px;
  .idSection{vertical-align: middle;width: 33%;.inline;  text-transform: uppercase;font-size: 24px;font-family: 'FuturaStd-MediumOblique'; }
  .logoSection{width: 33%;text-align: center;.inline;img{width: 180px;vertical-align: middle;}}
  .infoSection{width: 33%;.inline;text-align: right;font-family: 'robotomedium';}
}
.containerS{
  .widthCentralBloc;
  .horizontalCenter;
  .titleS{
    height: 120px;
    text-align: center;
    h2{font-family: 'FuturaStd-MediumOblique'; letter-spacing: 3px;margin-top: 55px;font-size: 29px;}
    h3{font-family: 'robotoregular'; font-size: 13px;margin-top: 5px;}
  }
}
.headerSection{
  height: 75px;
  width: 100%;
  background: url('../img/bandeauHome.png')  no-repeat center;
  background-size: cover; /* version standardisée */
}
.buttonAction{background: #ac0012;padding:15px 35px;.inline;color:#fff;font-family: 'robotoregular';}
.buttonMore{background: #ac0012;padding:15px 35px;.inline;color:#fff;font-family: 'robotomedium';}
.sectionArtistPage{
  width: 1200px;
  margin: 0 auto;
}
.tagLiCss{
  position: relative;
  input{
    width: auto !important;
    text-decoration: none;
    border: none;
    background: rgba(255, 255, 255, 0);
  }
  a{
    cursor: pointer;
    font-family: arial;
    border-bottom: 0px solid #666;
    position: absolute;
    top: 0px;
    right: 2px;
  }
}
.poprdr{
  background: white;
  width: 50vw;
  position: absolute;
  left: 25vw;
  top: 10vh;
  color: black;
  padding-bottom: 20px;
  border-bottom: 3px solid #67C49E;
  h1{
    margin: 0px auto;
    font-family: 'FuturaStd-MediumOblique';
    display: block;
    letter-spacing: 4px;
    padding: 20px;
    color: rgb(254, 254, 254);
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    text-transform: none;
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
  }
  h2{
    margin: 0px auto;
    display: block;
    padding-top: 0;
    font-size: 20px;
    font-weight: 100;
    text-transform: none;
    font-style: italic;
    text-align: center;
    padding-bottom: 15px;
  }
  .contentpopup{
    padding: 40px 80px;
  }
}
// .imagePiece{
//     width: 452.5px;
//     .inline;
//     height: 400px;
//     margin-right: 12.50px;
// }
.checkbox {
  .inline;
  width: auto;
  height: 20px;
  position: relative;
  label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    background: #fff;
    &:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 9px;
      height: 5px;
      background: transparent;
      top: 4px;
      left: 4px;
      border: 3px solid #000;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:hover::after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
      filter: alpha(opacity=30);
      opacity: 0.3;
    }

  }
  input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
}

.checkbox label {
    border: 2px solid #cfcaca;
    cursor: pointer;
    position: absolute;
    width: 13px;
    height: 13px;
    left: 0px;
    top: 0px;
    background: #fff;
}
.checkbox label:after {
  top: 0px;
  left: 0px;
}

button{
  border: 0px;
  cursor: pointer;
}
a.buttonAction{
  margin-top: 30px;
  text-decoration: none;
}

/*padding & margin*/
.f0{font-size: 0px;}
.top20{margin-top: 20px;}
.top30{margin-top: 30px;}
.top40{margin-top: 40px;}
.top50{margin-top: 50px;}
.bottom20{margin-bottom: 20px;}
.bottom30{margin-bottom: 30px;}
.bottom50{margin-bottom: 50px;}
.bottom60{margin-bottom: 60px;}
.bottom100{margin-bottom: 100px;}
.padLeft10{padding-left: 10px;}
.padTop30{padding-bottom: 30px;}
.padBottom100{padding-bottom: 100px;}
