{% extends "homePageBundle::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}CMA User parameter{% endblock %}
{% block main %}
	{{dump(userServices)}}
	 {% if userServices.allParameter %}
        {% for parameter in userServices.allParameter %}
			<div>{{ parameter }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}