{% extends "homePageBundle::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}CMA User parameter{% endblock %}
{% block main %}
	{{ dump(userServices.allParameter)}}
	 {% if userServices.allParameter %}
        {% for parameter in userServices.allParameter %}
			<p>{{ parameter }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}