{% trans_default_domain 'FOSUserBundle' %}
<header class="headerSection">
	<h1>
	{% block title %}
	{% endblock %}
	</h1>
</header>
<div class="contentpopup">
	{% block content %}
	{% endblock %}
</div>